# Byte‐compiled / cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.coverage.*
.cache
.pytest_cache/
test_files/

# mypy
.mypy_cache/

# Virtual environments
.env
.venv
env/
venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
